[Unit]
Description=thingsplex_service_template

[Service]
Type=simple
ExecStart=/usr/bin/thingsplex_service_template -c /etc/futurehome/thingsplex_service_template/config.json
User=thingsplex_service_template
WorkingDirectory=/var/lib/futurehome/thingsplex_service_template
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target