Package: thingsplex_service_template
Version: 0.0.1
Replaces: thingsplex_service_template
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: your namae <dev@your-app.com>
Description: . futurehome app  
