[Unit]
Description=thingsplex_service_template

[Service]
Type=simple
ExecStart=/opt/thingsplex/thingsplex_service_template/thingsplex_service_template
User=thingsplex_service_template
WorkingDirectory=/opt/thingsplex/thingsplex_service_template
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target