[Unit]
Description=IoT Flow logic engine

[Service]
Type=simple
ExecStart=/usr/bin/thingsplex_service_template -c config.json
User=thingsplex_service_template
WorkingDirectory=/var/lib/futurehome/thingsplex_service_template
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target